django==4.2.10
python-dotenv==0.20.0  # Use python-dotenv instead of dotenv
opencv-python-headless==4.8.0.76  # OpenCV for image processing
pytesseract==0.3.10  # Tesseract OCR for extracting text from images
PyPDF2==3.0.1  # For extracting text from PDF resumes
openai==0.27.0  # OpenAI API for generating recommendations
